[submodule "thirdparty/Open-AutoGLM"]
	path = thirdparty/Open-AutoGLM
	url = https://github.com/zai-org/Open-AutoGLM.git
[submodule "thirdparty/qwen-audio-agent"]
	path = thirdparty/qwen-audio-agent
	url = https://github.com/QwenAudio/qwen-audio-agent
